@import "../../styles/variables";

.selectionItem {
  margin: 1rem 0;
  padding: 1rem 0.9rem;
  border: 1px solid #eee;
  border-radius: 4px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "selectionRadio itemTitle"
    "pledge pledge"
    "description description"
    "remaining remaining"
    "confirmation confirmation";
}

.selectionRadio {
  align-self: center;
  grid-area: selectionRadio;
}

.itemTitle {
  grid-area: itemTitle;
  padding: 0.25rem 1rem;
  font-weight: 700;
  justify-self: start;
}

.pledge {
  grid-area: pledge;
  padding: 0.25rem 0;
  color: $primary-color-dark;
  justify-self: start;
}

.remaining {
  grid-area: remaining;
  padding: 0.5rem 0;
  justify-self: start;
}

.description {
  margin-top: 0.75rem;
  grid-area: description;
  justify-self: start;
}

.selectionConfirmation {
  margin-top: 1rem;
  padding-top: 1rem;
  grid-area: confirmation;
  border-top: 1px solid #eee;
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pledgeSelection {
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.selectedPledge {
  flex-basis: auto;
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid $primary-color-dark;
}

.pledgeInput {
  width: 3rem;
  outline: none;
  border: none;
  margin-left: 0.5rem;
}

.confirmPledge {
  flex-basis: auto;
}

.selectionRadio {
  display: inline-block;
  position: relative;
}

.selectionRadio input[type="radio"] {
  display: none;
}

.selectionRadio label {
  width: 1rem;
  height: 1rem;
  padding: 0 1rem 0 0;
}

.selectionRadio label:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 10px;
  border: 2px solid $primary-color-dark;
  background-color: transparent;
}

.selectionRadio input[type="radio"]:checked + label:after {
  border-radius: 10px;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  transform: translate(-30%, -50%);
  background: $primary-color-dark;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 768px) {
  .selectionItem {
    padding: 1rem 2rem;
    grid-template-columns: auto 2fr 2fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "selectionRadio itemTitle pledge remaining"
      "description description description description"
      "confirmation confirmation confirmation confirmation";
  }

  .pledgeSelection {
    flex-basis: auto;
    margin-bottom: 0;
  }

  .pledgeInput {
    width: 4rem;
  }

  .remaining {
    padding: 0.25rem 0;
    justify-self: end;
  }
}
