@import "./styles/variables";

.app {
  min-height: 100vh;
  position: relative;
  background-color: #eee;
  padding-bottom: 50px;
}

.hero {
  background: url("./assets/image-hero-desktop.jpg");
  height: 65vh;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}
