@import "../../styles/variables";

.productContainer {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 2rem;
  align-items: center;
  position: relative;
}

.aboutTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.aboutBody {
  color: $text-grey;
  line-height: 1.25rem;
}

@media screen and (min-width: 768px) {
  .productContainer {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .productContainer {
    width: 50%;
  }
}
